.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4em;
  place-items: center;
  padding: 3em;
  overflow-y: scroll;
  border: 0.3em black solid;
  height: 50vh;
  margin: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar {
  display: none;
}
